<h1>Line List</h1>

<table>
  <tr>
    <th>Units</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%= line.units %></td>
    <td><%= line.notes %></td>
    <td><%= link_to 'Show', line %></td>
    <td><%= link_to 'Edit', edit_line_path(line) %></td>
    <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Line', new_line_path %>
