<p id="notice"><%= notice %></p>

<p>
  <b>Units</b>
  <%= @line.units %>
</p>
<p>
  <b>Notes</b>
  <%= @line.notes %>
</p>


<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
