%h2
  Open #{@type.name.pluralize} in Your Area
%table.table.normal_links
  %thead
    %tr
      %th Name
      %th Ranch
      %th Lbs Left
      %th Harvest Date
      %th Pickup Date
      %th Host
  %tbody
    - @type.real_open.each do |animal|
      %tr
        %td= link_to animal.name, new_animal_order_path(animal)
        %td= animal.ranch.name
        %td= animal.pounds_left.round(2)
        %td= animal.harvest_date
        %td= animal.pickup_date
        %td= link_to animal.host.name, animal.host
