!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "width:720px;"}
      = image_tag 'meatup_logo_white.png'
      %div{:style => "padding: 0 35px 0 35px;"}
        %h1
          Welcome to MeatUp, #{"User name here"}!
        %p
          Sign up successful. Now you can see what's on the #{link_to "butcher's block", '#'}!
          %br/
        %p
          To login to the site, just follow this link: #{"Link here"}.
        %p Thanks for joining and have a great day!
      = image_tag 'grassy_knoll_white_sm.png'
