<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div class="normal_links" style="padding: 0 35px 0 35px;">
        <h1><%= @animal.name %> has closed!</h1>
        <h4>
          MeatUp successfully sold <%= @animal.pounds_sold %> lbs of <%= @animal.name %>'s meat, for <%= number_to_currency(@animal.revenue_made) %>. Expected margins total roughly <%= number_to_currency(@animal.expected_margins) %>. 

          <%= @animal.name %>'s sale history (and other info) can be seen <%= link_to "here", @animal %>. The animal hosting is under care of <%= link_to @animal.host.name, @animal.host %>, and is set to be picked up at PICK-UP-DATE. 

          A butchery order sheet has been sent to the <%= @animal.name %>'s butcher, <%= link_to @animal.butcher.name, @animal.butcher %>. A simplified copy of that spec sheet (each line representing however many packages were ordered of that cut/prep type) is included below. Follow <%= link_to "this link", @label_url %> for a full, package-by-package list:

          	<table class="table" %>
          		<thead>
          			<tr>
          				<th>Cut</th>
          				<th>Prep Notes</th>
          				<th>Number of Packages</th>
          				<th>Average Exp. Lbs</th>
          			</tr>
          		</thead>
          		<tbody>
	          		<% @animal.make_sold_list.each do |p| %>
		          			<tr>
		          				<td><%= p.cut.name %></td>
		          				<td><%= p.line.notes %></td>
		          				<td><%= p.cut_siblings %></td>
		          				<td><%= p.expected_weight %></td>
		          			</tr>
		          	<% end %>	
	          	</tbody>		
          	</table>	        
      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>