<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div class="normal_links" style="padding: 0 35px 0 35px;">
        <h1><%= @animal.name %> is all sold!</h1>
        <h4>
          All <%= @animal.pounds_sold %> lbs of <%= @animal.name %>'s meat have been sold and will be ready shortly for pickup (after <%= "aging and " if @animal.animal_type == "Cow" %>butchery. The full list of packages you bought -- with the labels they'll be listed by for more organized pickup -- is below. 
        </h4>

          	<table class="table" %>
          		<thead>
          			<tr>
          				<th>Cut</th>
          				<th>Prep Notes</th>
          				<th>Average Exp. Lbs</th>
          				<th>Label</th>
          			</tr>
          		</thead>
          		<tbody>
	          		<% @user.package_list.each do |p| %>
		          			<tr>
		          				<td><%= p.cut.name %></td>
		          				<td><%= p.line.processed_notes %></td>
		          				<td><%= p.expected_weight %></td>
		          				<td><%= "#{@user.name.first(3).upcase}-#{p.id}" %></td>
		          			</tr>
		          	<% end %>	
	          	</tbody>		
          	</table>	    

        <h4>
          Again, if you have any questions about the pickup, get in touch with your host (<%= link_to @animal.host.user.name, @animal.host %>), and if you have any other questions, comments or suggestions, please don't hesitate to get in touch with me by email (sasha@meatup.mailgun.org) or phone (415-420-3232).

          Thanks so much for taking part in the MeatUp community, and please let us know if there's anything you think we could do better.

          Best,

          Sasha and Niko
        </h4>

      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>