!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "width:720px;"}
      = link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url
      %div{:style => "padding: 0 35px 0 35px;"}
        %h1 A new user has signed up!
        %h4
          Name: #{@user.name}
          Email: #{@user.email}
          Zip Code: #{@user.zip}
        %br/
        %h4 Best,
        %h4
          %br/
        %h4 The MeatUp Team
        %h4
      = image_tag attachments['grassy_knoll_white_sm.png'].url
