<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div style="padding: 0 35px 0 35px;">
        <h1><%= link_to "Order #{@order.id}", @order%><%= ": $#{@order.total.round(2)}" %></h1>
        <h4>
          User Name: <%= @user.name %>
          User Email: <%= @user.email %>
          Animal: <%= @animal.name %>
        </h4>
        <br>
        <h4>Best,<h4><br>
        <h4>The MeatUp Team<h4> 
        
      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>