<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div style="padding: 0 35px 0 35px;">
        <h1>Well thanks, <%= @user.name.capitalize %>!</h1>
        <h4>
          Your <%= number_to_currency(@order.total * 0.8) %> order was a success. Your card has been securely charged a "deposit" payment based on the estimated amount of <%= @order.animal.name %>'s delicious meat you'll be receiving. Now you can sit back, review your <%= link_to "receipt", @receipt_url %>, and <%= link_to "plan out", @blog_url %> what you'll do with all that <%= @meat_type %>.<br/>
        </h4>
        <h2>What's next?</h2>
        <h4>
        <ul>
        	<li>Your meat will be available for pickup on Sunday at 4pm from your host, <%= (@host.user.name).capitalize %>, for a window of up to 24 hours (to ensure both your meat's freshness and <%= (@host.user.name) %>'s sanity).</li><br>
        	<li>Get in touch with <%= link_to (@host.user.name).capitalize, @host_url %>, for pickup details and in case you need to make any changes.</li><br>
          	<li>When the butcher sends us the real-life weight of your packages, we'll get in touch with you to charge the difference. If that difference exceeds 15% by weight -- which we take great pains to avoid -- you'll get a discount on your next order. </li>
        </ul>
      </h4>
        <h4>Thanks again for being a part of our attempt to bring ranchers and meat-lovers a little closer. If there's anything at all we can do to make this experience better, please <%= mail_to "feedback@meatup.in", "let us know" %>. 
        </h4>
        <h4>Best,</h4><br>
        <h4>The MeatUp Team</h4> 
        
      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>