!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "width:720px;"}
      = link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url
      %div{:style => "padding: 0 35px 0 35px;"}
        %h1
          Well thanks, #{@user.name}!
        %h4
          Your downpayment of #{number_to_currency(@order.total * 0.8)} order was a success. Now you can sit back, review your #{link_to "receipt", @receipt_url}, and #{link_to "plan out", @blog_url} what you'll do with all that #{@meat_type}.
          %br/
        %h2 What's next?
        %h4
        %ul
          %li When we get the actual weight of the packages in your order, we'll email you and let you know how much remains to be charged to finalize your order.
        %br/
        %li
          Your meat will be available for pickup on Sunday the 13th at 2pm from your host, #{@host.user.name}, for a window of up to 24 hours (to ensure both your meat's freshness and #{(@host.user.name)}'s sanity).
        %br/
        %li
          Get in touch with #{link_to @host.user.name, @host_url}, for pickup details and in case you need to make any changes.
        %h4
          Thanks again for being a part of our attempt to bring ranchers and meat-lovers a little closer. If there's anything at all we can do to make this experience better, please #{mail_to "feedback@meatup.in", "let us know"}.
        %h4 Best,
        %h4 The MeatUp Team
      = image_tag attachments['grassy_knoll_white_sm.png'].url
