<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div style="padding: 0 35px 0 35px;">
        <h1>Welcome, <%= @user.name.capitalize %>!</h1>
        <p>
          Your sign up with <%= link_to "MeatUp", @url %> was successful. Now you can see what's on the <%= link_to "butcher's block", @meat_url %>!<br/>
        </p>
        <p>
          We're elated to have you on board.  Community by community, MeatUp is seeking to bring outside-the-box thinking to local meat CSAs.  We connect sustainable ranchers, artisanal butchers, and savvy consumers in a transparent, low-cost, social marketplace to help drive local living economies and steward our environment.<br>
        </p>
        <p>
          We believe that a more direct relationship between buyers and producers can make good food accessible, local farming viable, and safeguard our planet for future generations.  If you're interested in getting even more involved -- <%= link_to "tell us", 'mailto:info@meatup.in' %> -- we're on the look out for CSA hosts, hunters, gatherers and collaborators.<br>
        </p>
        <p>Thanks for joining us and have a great day!</p><br>
        <p>- The MeatUp Team</p>
      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>