<% if ranch_list(animal)[0] %>
	<h2>Offering <%= animal.pluralize %></h2>
	<table class="table">
		<thead>
			<tr>
				<th>Ranch Name</th>
				<th>Ranch City</th>
				<th>Est Meat Cost</th>
				<th>Delivers To Butcher?</th>
				<th>Delivers To Drop-Point?</th>
				<th>Delivers To Host?</th>
				<th>Preferred Butcher</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% ranch_list(animal).each do |r| %>
				<tr>
					<td><%= r.name %></td>
					<td><%= r.city %></td>
					<% if animal == "Cow" %>
						<td><%= r.cow_meat %></td>
					<% elsif animal == "Pig" %>
						<td><%= r.pig_meat %></td>
					<% elsif animal == "Lamb" %>
						<td><%= r.lamb_meat %></td>
					<% elsif animal == "Goat" %>
						<td><%= r.goat_meat %></td>
					<% else %>
						<td>ERROR</td>
					<% end %>
					<td><%= nice_bool(r.delivers_butcher) %></td>
					<td><%= nice_bool(r.delivers_drop) %></td>
					<td><%= nice_bool(r.delivers_host) %></td>
					<% if r.preferred_butcher %>
						<% b = Butcher.find(r.preferred_butcher) %>
						<td><%= link_to b.name, butchers_path(b) %></td>
					<% else %>
						<td></td>
					<% end %>
					<td><%= link_to "Pick Me", 'new_animal_path' %></td>
				</tr>
			<% end %>
		</tbody>		
	</table>
<% end %>