<div class="user_signinup">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label "Zip Code" %>
      <%= f.text_field :zip %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <% if signed_in? && current_user.admin? %>
        <h3> Click to Switch On/Off Admin  
        <%= f.check_box :admin %></h3>
      <% end %>

      <%= f.submit @string, class: "btn image-button", style: "float:right;margin-top:15px;margin-bottom:35px;" %>
    <% end %>
</div>