<% if @user.orders.length > 0 %>
	<table class="table">
	<thead>
		<tr>
			<th width="25%">Date</th>
			<th width="25%">Meat Type</th>
			<th width="25%">Amount</th>
			<th width="25%">Charge</th>
		</tr>
	</thead>
	<tbody>
		
		<% @user.orders.last(5).each do |o| %>	
			<tr>
				<td class="normal_links"><%= link_to (localize(o.created_at, :format => ("%d/%b/%Y"))), order_path(o) %></td>
				<td><%= o.animal.animal_type %></td>
				<td><%= o.poundage.round(2) %> lbs</td>
				<td><%= number_to_currency(o.total_calc) %></td>
			</tr>
		<% end %>
	</tbody>
	</table>
<% else %>
	<h3>No orders? <%= link_to 'Get Started!', orders_purchase_path %></h3>
<% end %>
