<% provide(:title, @user.name) %>

<table class="signinup_table">
	<tr>
		<td class="signinup_left">My Profile</td>
		<td class="signinup_right">

<label for="user_info">User Name</label>
<input type="text" value="<%= @user.name %>" disabled="disabled">
<label for="user_info">Email</label>
<input type="text" value="<%= @user.email %>" disabled="disabled">
<label for="user_info">Zip Code</label>
<input type="text" value="<%= @user.zip %>" disabled="disabled">
<label for="user_info">User Type</label>
<input type="text" value="<% if @user.admin %>Administrator<% else %>Meat Lover<% end %>" disabled="disabled">
<%= link_to "Edit Profile", edit_user_path(@user), class: "btn image-button", style: "float:right;margin-top:15px;margin-bottom:35px;" %>
<div style="margin-top:80px;">
<h2  class="normal_links" style="text-align:left">Recent Orders</h2>

	<%= render 'orders' %>
</div>

<div  class="normal_links" style="margin-top:80px;">
	<%= render 'extras' %>
</div>
		</td>
	</tr>
</table>