<% provide(:title, 'Cuts') %>
<h1>Cut List</h1>

<h2 class="pull-left">Cow Cuts</h2>
    <% @type = "Cow" %>
    <%= render :partial => "cut_list", :object => @type %><br>
<h2 class="pull-left">Pig Cuts</h2>
    <% @type = "Pig" %>
    <%= render :partial => "cut_list", :object => @type %><br>
<h2 class="pull-left">Lamb Cuts</h2>
    <% @type = "Lamb" %>
    <%= render :partial => "cut_list", :object => @type %><br>
<h2 class="pull-left">Goat Cuts</h2>
    <% @type = "Goat" %>
    <%= render :partial => "cut_list", :object => @type %><br>

<br />

<%= link_to 'New Cut', new_cut_path %>
