<div class="persist-area">
<table class="table table-condensed order-table sumtable" id="sumtable">
  <thead>
    <tr class="persist-header">
      <th class="cut">Cut</th>
      <th class="prep">Prep Requests</th>
      <th class="ps">Packages</th>
      <th class="p_weight">Package Weight</th>
      <th class="price_lb">Price/lb</th>
      <th class="lbs">Lbs</th>
      <th class="price">Price</th>
      <th class="save" style="text-align:center;">Savings</th>
    </tr>
  </thead>
  <tbody>
  <% package_list = make_list(@order_animal) %>
  <% @b = @order_animal.butcher %>

  <% package_list.each do |p| %>

    <%= @f.fields_for :lines do |l| %>

        <tr> <%= l.hidden_field :cut_id, value: p.cut.id %>

          <% if (p.cut.incentive && @order_animal.opening_sale) %>
            <td><div id="on_sale"><%= p.cut.name %><strong class="sale_note"> EXTRA 10% OFF!</strong></div></td>
          <% else %>
            <td><div id="cut_name"><%= p.cut.name %></div></td>
          <% end %>

          <!-- Prep Requests -->
          <% @prep_array = [["None", ""]] %>
          <% prep_helper(p.cut) %>
          <% if @prep_array[0] != "" %>
            <td><%= l.select :notes, @prep_array %></td>
          <% else %>
            <td></td>
          <% end %>
          
          <!-- Package drop-down with sold-out special case -->
          <% list = @order_animal.unsold(p.cut).length %>
          <% dropdown = (0..list).to_a %>
          <% if dropdown.length <= 1 %>
            <td>
              <div class="sold_out_item">Sold Out</div>
            </td>
          <%= l.hidden_field :units, value: 0 %>
          <% else %>
            <td>
                <%= l.select :units, dropdown, {}, :class => "unit_select js-package" %>
            </td>
          <% end %>

           <td><span class="js-weight" data-weight=<%= p.expected_weight %>><%= p.expected_weight %> lb</span></td>

          <!-- Price/LB with JS calc functionality -->
          <td>
            <span class="js-lb-price" data-lb-price=<%= p.price %>>
              <%= number_to_currency(p.price) %>
            </span>
          </td>

          <!-- JS-Calculated Totals -->
          <td class="js-lbs"></td>
          <td class="js-price"></td>

          <!-- Package-specific savings -->
          <% if p.savings > 0.01 %>
            <td class="savings sav_content" style="text-align:center;" data-savings="<%= p.savings %>">
                <%= number_to_percentage((p.savings), :precision => 0) %>
            </td>
          <% elsif p.savings == -1 %>
            <td class="sav_content" style="text-align:center; background-color:#eaeaea;">
                NA
            </td>
          <% else %>
            <td class="savings sav_content" style="text-align:center;" data-savings=0>
                <%= number_to_percentage(0, :precision => 0) %>
            </td>
          <% end %>
        </tr>

    <% end %> <!-- End of Lines Block -->
  <% end %> <!-- End of Packages Block -->
      <tr class="total order_table_footer">
        <th colspan=5 class="order_table_footer">
        </th>
        <th class="js-lb-total order_table_footer">Total Lbs
        </th>
        <th class="js-price-total order_table_footer" style="font-weight:bold;">Total $
        </th>
        <th class="js-savings-total order_table_footer" style="color: #339933; text-align:center;">[Saved]
        </th>
      </tr>
    </tbody>
</table>
</div>