<br>
<h2>Your Order</h2>
<table class="table">
  
  <tr>
    <th>Cut</th>
    <th>Package Weight</th>
    <th>Price/lb</th>
    <th>Units</th>
    <th>Notes</th>
  </tr>

  <% @cutlist = Cut.where(:animal_type => @meat) %>

  <% @cutlist.each do |c| %>
    
    <%= @f.fields_for :lines do |l| %>
      <tr>
        <%= l.hidden_field :cut_id, value: c.id %>
        <td><%= c.name %></td>
        <td><%= c.package_weight %> lb</td>
        <td>$<%= c.price %></td>
          <% @pset = Package.find_by_cut_id_and_animal_id(c.id, @f.animal_id) %>
          <% @p = @pset[0] %>
          <% @p_range = (0..@p.left %>)
          <% @p_string = "["
          <% @p_range.each do |number| %>
            <% @p_string += "[#{number},#{number}]" %>
            <% if number != @p.left - 1 %>
              <% @p_string += "," %>
            <% end %>
          <% end %>
            <td><%= l.select :units, [[number, number]] %></td>
        <td><%= l.text_field :notes %></td>
      </tr>
    <% end %>

  <%end%>
</table>