<br>
<h2>Your Order</h2>
<table class="table">
  
  <tr>
    <th>Cut</th>
    <th>Package Weight</th>
    <th>Price/lb</th>
    <th>Est Savings</th>
    <th>Packages</th>

    <!-- Produce relevant butchery options -->
    <% @b = @order_animal.butcher %>

      <% if @b.ground || @b.stew || @b.boneless %>
        <th>Normal<th>
      <% end %>

      <% if @b.ground %>
        <th>Grind it?</th>
      <% end %>
      
      <% if @b.stew %>
        <th>Turn to stew?</th>
      <% end %>
      
      <% if @b.boneless %>
        <th>Boneless?</th>
      <% end %>
  </tr>

  <% @unordered = Cut.where(:animal_type => @meat) %>
  <% @cutlist = @unordered.find(:all, :order => 'savings DESC')%>


  <% @cutlist.each do |c| %>

    <%= @f.fields_for :lines do |l| %>

      <% all_ps = @order_animal.packages %>  
      <% cut_packages = all_ps.where(:cut_id => c.id) %>
      <% sold = cut_packages.where(:sold => true).length %>
      <% unsold = cut_packages.where(:sold => false).length %>
      <% example = cut_packages.first %>

      <!-- Only make a line if the cut exists (ex, no hanger) -->
      <% unless cut_packages.length == 0 %>
        <tr>
          <%= l.hidden_field :cut_id, value: c.id %>
          <td><%= c.name %></td>
          <td><%= c.package_weight %> lb</td>
          <td><%= number_to_currency(example.price) %></td>

          <!-- Calculates the package-specific savings -->
          <% if ((c.comp - example.price) / c.comp) > 0.01 %>
              <td><%= number_to_percentage(100 * ((c.comp - example.price) / c.comp), :precision => 0) %></td>
            <% else %>
              <td><%= number_to_percentage(0, :precision => 0) %></td>
          <% end %>

              <% dropdown = (0..unsold).to_a %>
              <% if dropdown.length <= 1 %>
                <td class="red">SOLD OUT</td>
                <%= l.hidden_field :units, value: 0 %>
              <% else %>
                <td><%= l.select :units, dropdown %></td>
              <% end %>

                <td style="text-align:center"><%= l.radio_button(:notes, "") %><td> 

            <% if @b.ground && c.name != "Ground Beef" && c.name != "Beef Stew" %>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Ground") %>
                </td>
              <% elsif @b.ground %>
                <td></td>
            <% end %>

            <% if @b.stew && c.name == "London Broil" || c.name == "Eye of Round" || c.name == "Cross Rib" || c.name == "Rump Steak" || c.name == "Bottom Round" || c.name == "Chuck Roast" || c.name == "Shank" || c.name == "Neck"%>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Stew") %>
                </td>
              <% elsif @b.stew %>
                <td></td>
            <% end %>

            <% if @b.boneless && c.name == "Ribeye" || c.name == "Short Ribs"%>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Boneless") %>
                </td>
              <% elsif @b.boneless %>
                <td></td>
            <% end %>
        </tr>
      <% end %>

    <% end %>

  <% end %>
</table>