<br>
<h2>Your Order</h2>
<table class="table">
  
  <tr>
    <th>Cut</th>
    <th>Package Weight</th>
    <th>Price/lb</th>
    <th>Units</th>
    <th>Notes</th>
  </tr>

  <% @cutlist = Cut.where(:animal_type => @meat) %>


  <% @cutlist.each do |c| %>

    <%= @f.fields_for :lines do |l| %>
      <tr>
        <%= l.hidden_field :cut_id, value: c.id %>
        <td><%= c.name %></td>
        <td><%= c.package_weight %> lb</td>
        <td>$<%= c.price %></td>
        <td><%= l.select :units, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5]] %></td>
        <td><%= l.text_field :notes %></td>
      </tr>
    <% end %>

  <%end%>
</table>