<br>
<table class="table table-condensed order-table">
  
  <tr style="border:#fff;">
    <th>Cut</th>
    <!-- Produce relevant butchery options -->
    <% @b = @order_animal.butcher %>
    <th colspan=4>Notes</th>
    <th>Packages</th>
    <th>Price/lb</th>
    <th>Lbs</th>
    <th>Price</th>
    <th>Savings</th>
  </tr>

  <% @unordered = Cut.where(:animal_type => @meat) %>
  <% @cutlist = @unordered.find(:all, :order => 'savings DESC')%>


  <% @cutlist.each do |c| %>

    <%= @f.fields_for :lines do |l| %>

      <% all_ps = @order_animal.packages %>  
      <% cut_packages = all_ps.where(:cut_id => c.id) %>
      <% sold = cut_packages.where(:sold => true).length %>
      <% unsold = cut_packages.where(:sold => false).length %>
      <% example = cut_packages.first %>

      <!-- Only make a line if the cut exists (ex, no hanger) -->
      <% unless cut_packages.length == 0 %>
        <tr>
          <%= l.hidden_field :cut_id, value: c.id %>
          <td><div id="cut_name"><%= c.name %></div></td>

      <!-- Crazy radio button nonsense -->

                <td style="text-align:center"><%= l.radio_button(:notes, "") %></td> 

            <% if @b.ground && c.name != "Ground Beef" && c.name != "Beef Stew" && c.name != "Offal" && c.name != "Kidney" %>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Ground") %>
                </td>
              <% elsif @b.ground %>
                <td></td>
            <% end %>

            <% if @b.stew && c.name == "London Broil" || c.name == "Eye of Round" || c.name == "Cross Rib" || c.name == "Rump Steak" || c.name == "Bottom Round" || c.name == "Chuck Roast" || c.name == "Shank" || c.name == "Neck"%>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Stew") %>
                </td>
              <% elsif @b.stew %>
                <td></td>
            <% end %>

            <% if @b.boneless && c.name == "Ribeye" || c.name == "Short Ribs"%>
                <td style="text-align:center">
                  <%= l.radio_button(:notes, "Boneless") %>
                </td>
              <% elsif @b.boneless %>
                <td></td>
            <% end %>


<!--          <td><%= c.package_weight %> lb</td> -->


              <% dropdown = (0..unsold).to_a %>
              <% if dropdown.length <= 1 %>
                <td class="red">SOLD OUT</td>
                <%= l.hidden_field :units, value: 0 %>
              <% else %>
                <td><%= l.select :units, dropdown, :class => "unit_select" %></td>
              <% end %>

          <td><%= number_to_currency(example.price) %></td>

          <!-- Need to calculate Total lbs -->

          <td></td>

          <!-- Need to calculate Total (line) cost -->

          <td></td>

          <!-- Calculates the package-specific savings -->
          <% if ((c.comp - example.price) / c.comp) > 0.01 %>
              <td class="savings"><%= number_to_percentage(100 * ((c.comp - example.price) / c.comp), :precision => 0) %></td>
            <% else %>
              <td class="savings"><%= number_to_percentage(0, :precision => 0) %></td>
          <% end %>
        </tr>
      <% end %>

    <% end %>

  <% end %>
</table>