<br>
<h2>Your Order</h2>
<table class="table">
  
  <tr>
    <th>Cut</th>
    <th>Package Weight</th>
    <th>Price/lb</th>
    <th>Packages</th>
    <% @b = @order_animal.butcher %>
    <% if @b.ground || @b.stew || @b.boneless %>
      <th>Normal<th>
    <% end %>
    <% if @b.ground %>
      <th>Grind it?</th>
    <% end %>
    <% if @b.stew %>
      <th>Turn to stew?</th>
    <% end %>
    <% if @b.boneless %>
      <th>Boneless?</th>
    <% end %>
  </tr>

  <% @cutlist = Cut.where(:animal_type => @meat) %>


  <% @cutlist.each do |c| %>

    <%= @f.fields_for :lines do |l| %>
      <tr>
        <%= l.hidden_field :cut_id, value: c.id %>
        <td><%= c.name %></td>
        <td><%= c.package_weight %> lb</td>
        <td>$<%= c.price %></td>
          <% p_directory = Package.find_by_cut_id_and_animal_id(c.id, @order_animal.id) %>
          <% p_left = p_directory.where(:sold == false).length %>
          <% if p_directory %>
            <% dropdown = (0..p_left).to_a %>
            <% if dropdown <= 0 %>
              <td class="red">SOLD OUT</td>
              <%= l.hidden_field :units, value: 0 %>
            <% else %>
              <td><%= l.select :units, dropdown %></td>
            <% end %>
          <% else %>
            <td>No Animal, No Packages</td>
          <% end %>
            <td style="text-align:center"><%= l.radio_button(:notes, "") %><td> 
          <% if @b.ground && c.name != "Ground Beef"%>
            <td style="text-align:center">
              <%= l.radio_button(:notes, "Ground") %>
            </td>
          <% elsif @b.ground %>
            <td></td>
          <% end %>
          <% if @b.stew && c.name != "Ground Beef" && c.name != "Beef Stew" %>
            <td style="text-align:center">
              <%= l.radio_button(:notes, "Stew") %>
            </td>
          <% elsif @b.stew %>
            <td></td>
          <% end %>
          <% if @b.boneless && c.name != "Ground Beef" && c.name != "Beef Stew"%>
            <td style="text-align:center">
              <%= l.radio_button(:notes, "Boneless") %>
            </td>
          <% elsif @b.boneless %>
            <td></td>
          <% end %>
      </tr>
    <% end %>

  <%end%>
</table>