
<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

    </div>
  <% end %>

  <div class="text-align:center">

    <h2>Order Status</h2>
    <%= f.text_field :status %>
    <%= f.fields_for :lines do |l| %>
      <h2>Your Order</h2>
      <%= l.label "Cut" %>
      <%= l.text_field :notes %>
      <%= l.label :units %>
      <%= l.select :units, [[1,1],[2,2],[3,3],[4,4]] %>
    <% end %>
    <br>
    <div class="btn-large">
        <%= f.submit %> 
    </div>
    
  </div>

<% end %>