
<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

    </div>
  <% end %>

  <div class="text-align:center">
    
    <% @animal_list = Animal.where(:animal_type => @meat) %>
    <% if @meat %>
      <% @order_animal = @animal_list.last %>
    <% else %>
      <% @order_animal = @order.animal %>
    <% end %>
    <h2><%= @order_animal.name %></h2>
    <%= f.hidden_field  :animal_id, value: @order_animal.id %>
    <% if signed_in? %>
      <%= f.hidden_field  :user_id, value: current_user.id %>
    <% end %>
    <% @f = f %>
    <%= render :partial => "cut_table", :object => @f %>
    
    <% f = @f %>
    
      <%= f.hidden_field :status, value: 0 %>
    
    <div class="btn-large">
        <%= f.submit %> 
    </div>
    
  </div>

<% end %>