<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :status %>
  <%= f.fields_for :lines do |l| %>
    <%= l.label :notes %>
    <%= l.text_field :notes %>
    <%= l.label :units %>
    <%= l.text_field :units %>
  <% end %>
  <%= f.submit %>
<% end %>