
<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

    </div>
  <% end %>

  <div class="text-align:center">

    <h2>Order Attributes</h2>
    <%= f.label :status %>
    <%= f.select :status, [["Complete",1],["Incomplete",2],["Deposited",3],["Other",4]] %><br>
    <%= f.label :animal_id %>
    <%= f.select :animal_id, [[1,1],[2,2],[3,3],[4,4]] %>

    <% @f = f %>
    
    <br>
    <%= render :partial => "cut_table", :object => @f %>
    
    <br>
    <div class="btn-large">
        <%= f.submit %> 
    </div>
    
  </div>

<% end %>