= form_for(@order) do |form|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .text-align.center
    .order_title 
      "Life has its own hidden forces which you can only discover by 
      %b{ style: "color:#262220" } eating grass-fed beef
      = ".\" -Soren Kierkegaard"

    = form.hidden_field   :user_id,   value: current_user.id if signed_in?
    = form.hidden_field   :status,    value: 0
    = form.hidden_field   :animal_id, value: @animal.id

    = render "cut_table", order_form: form
    = link_to 'Back', purchase_path, :class => "order_back"
    = form.submit "Review Order", :class => "btn image-button right"
