<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

    </div>
  <% end %>

  <div class="text-align:center">


     <div class="order_title">"Life has its own hidden forces which you can only discover by <b style="color:#262220">eating grass-fed beef</b>." -S&oslash;ren Kierkegaard
     </div> 
  
    <!-- Assign the Animal and User -->
    <%= f.hidden_field  :animal_id, value: @order_animal.id %>
    <% if signed_in? %>
      <%= f.hidden_field  :user_id, value: current_user.id %>
    <% end %>

    <% if @order_animal.percent_left < 20 %>
      <% unless @order_animal.final_sale %>
        <% @order_animal.start_final_sale %>
      <% end %>
    <% end %>

    <% @f = f %>
    <%= render :partial => "cut_table", :object => @f %>
    <% f = @f %>
    
      <%= f.hidden_field :status, value: 0 %>
    
        <%= link_to 'Back', @order, :class => "order_back" %>

        <%= f.submit "Review Order", :class => "btn image-button right" %> 
    
  </div>

<% end %>