%tr
  = form.hidden_field :real_cut_id, value: item.id
  = form.hidden_field :sale_price, value: item.list_price
  %td= item.name_cell
  %td= item.prep_select(form)
  %td= form.select :units, item.available, {}, :class => "unit_select js-package"
  %td.js-weight{ data: { weight: item.weight } }= item.d_weight
  %td.js-lb-price{ :'data-lb-price' => item.d_list_price }= item.list_price_money
  %td.js-lbs
  %td.js-price
  %td.sav_content{ class: item.d_savings_class }= item.d_savings
