%tr
  %td
    = form.hidden_field :cut_id, value: item.id
    - if item.sales.any?
      #on_sale{ title: item.description }
        = item.name
        %strong.sale_note= item.sales.message
    - else
      #cut_name{ title: item.description }= item.name
  %td= form.select :notes, item.prep_options
  %td= form.select :units, item.availability, {}, :class => "unit_select js-package"
  %td.js-weight{ data: { weight: item.package_weight } }= present_weight(item.package_weight)
  %td.js-lb-price{ :'data-lb-price' => item.available_price }= number_to_currency(item.available_price)
  %td.js-lbs
  %td.js-price
  %td.sav_content{ class: savings_class(item.savings) }= display_savings(item.savings)
