<% @total = 0 %>
<% @total_weight = 0 %>

<% if !@order.animal.finalized %>
	<% @order.lines.each do |l| %>

		<% if l.units != 0 %>
			<% p = l.packages.first %>
			<% c = l.cut %>
			
			<tr>	
			    	<td><%= c.name %></td>
			    	<td><%= l.notes %></td>
			    	<td><%= (p.expected_weight * l.units).round(2) %> lb</td>
			    	<% @line_total = p.price * p.expected_weight * l.units %>
			    	<td><%= number_to_currency(@line_total) %></td>
			    	<% @total_weight += p.expected_weight * l.units %>
		    </tr>
		    <% @total += @line_total %>
		<% end %>
	<%end%>

	<% @order.update_attribute(:total, @total) %>

	<% if @order.user.apology %>
		<tr>
			<td></td>
			<td></td>
			<td>Saved by Discount:</td>
			<td><em><%= "- #{number_to_currency(@order.discounted)}!" %></em></td>
		</tr>
	<% end %>

	<tr>
		<td></td>
		<td></td>
		<td><strong><%= @total_weight.round(2) %> lb</strong></td>
		<td><b><%= number_to_currency(@total) %><b></td>
	</tr>
<% else %>
	<% @order.lines.each do |l| %>

		<% if l.units != 0 %>
			<% p = l.packages.first %>
			<% c = l.cut %>
			
			<tr>	
			    	<td><%= c.name %></td>
			    	<td><%= l.notes %></td>
			    	<td><%= l.weight_diff %> lb</td>
			    	<% @line_total = p.price * l.weight_diff %>
			    	<td><%= number_to_currency(@line_total) %></td>
			    	<% @total_weight += l.weight_diff %>
		    </tr>
		    <% @total += @line_total %>
		<% end %>
	<%end%>

	<tr>
		<td></td>
		<td></td>
		<td><strong><%= @total_weight.round(2) %> lb</strong></td>
		<td><b><%= number_to_currency(@order.get_difference) %><b></td>
	</tr>
<% end %>