%thead
  %tr
    - if @order.incomplete?
      %th{:colspan => "5"}
        .timer_stamp#timer{ @timer_params }
          TIME
          %br
          LEFT TO PAY
        .receipt_stamp
          ORDER
          %br
          REVIEW
        = @order.animal.ranch.address
        , #{@order.animal.ranch.city}, #{@order.animal.ranch.state},
        %u
          \&nbsp;#{localize(@order.created_at, :format => ("on %d, %B, %Y"))}&nbsp;
        %br
        %strong{:style => "font-size:150%; font-weight:normal"}
          Pay to order of
          %u{:style => "font-weight:bold;"}
            \&nbsp;#{@order.animal.ranch.name}&nbsp;,
          c/o MeatUp
        %br
        #purveyor_of
          Purveyor of
          %br
          %b High Class Viandes, Game and Forcemeats
    - else
      %th.header{:colspan => "5"}
        .receipt_stamp
          - if @order.downpaid?
            DEPOSIT RECEIVED
            %br
            WITH THANKS
          - elsif @order.paid?
            FINAL BILL
            %br
            FULLY PAID
          - else
            FINAL
            %br
            ORDER
            %br
            RETREIVED
        = @order.animal.ranch.address
        , #{@order.animal.ranch.city}, #{@order.animal.ranch.state},
        %u
          \&nbsp;#{localize(@order.created_at, :format => ("on %d, %B, %Y"))}&nbsp;
        %br
        %strong{:style => "font-size:150%; font-weight:normal"}
          Pay to order of
          %u{:style => "font-weight:bold;"}
            \&nbsp;#{@order.animal.ranch.name}&nbsp;,
          c/o MeatUp
        %br
        #purveyor_of
          Purveyor of
          %br
          %b High Class Viandes, Game and Forcemeats
