- if @order.not_paid?
  - @order.lines.each do |l|
    %tr
      %td= l.cut.name
      %td= l.notes
      %td= present_weight(l.expected_weight)
      %td= number_to_currency(l.total)
  - if @order.user.apology
    %tr
      %td
      %td
      %td Saved by Discount:
      %td
        %em= "- #{number_to_currency(@order.discounted)}!"
  %tr
    %td
    %td
    %td
      %strong= present_weight(@order.poundage)
    %td
      %b= "Downpayment: #{number_to_currency(0.8 * @order.total)}"
- else
  - @order.lines.each do |l|
    %tr
      %td= l.cut.name
      %td= l.notes
      - if l.weight_diff
        %td= present_weight(l.weight_diff) 
      - else
        %td Unknown
      %td= number_to_currency(l.total)
  %tr
    %td
    %td
    %td
      %strong= present_weight(@order.poundage)
    %td
      %b= "Remaining: #{number_to_currency(@order.get_difference)}"
