- @a = @order.animal
%thead
  %tr
    - if @order.status == 0
      - start_time = (@order.created_at.to_i)
      - now_time = Time.now.to_i
      - meat = @order.animal.animal_type.downcase
      - url = "new/#{@order.animal.id}"
      %th{:colspan => "5"}
        <div class="timer_stamp" id="timer" data-start=#{start_time} data-now=#{now_time} data-url=#{url} >
        TIME
        %br>/
        LEFT TO PAY
        .receipt_stamp
          ORDER
          %br>/
          REVIEW
        = @a.ranch.address
        , #{@a.ranch.city}, #{@a.ranch.state},
        %u
          \&nbsp;#{localize(@order.created_at, :format => ("on %d, %B, %Y"))}&nbsp;
        %br/
        %strong{:style => "font-size:150%; font-weight:normal"}
          Pay to order of
          %u{:style => "font-weight:bold;"}
            \&nbsp;#{@a.ranch.name}&nbsp;,
          c/o MeatUp
        %br/
        #purveyor_of
          Purveyor of
          %br/
          %b High Class Viandes, Game and Forcemeats
    - else
      %th.header{:colspan => "5"}
        .receipt_stamp
          - if @order.status == 1
            DEPOSIT RECEIVED
            %br>/
            WITH THANKS
          - elsif @order.status == 2
            FINAL BILL
            %br>/
            FULLY PAID
          - else
            FINAL
            %br>/
            ORDER
            %br>/
            RETREIVED
        = @a.ranch.address
        , #{@a.ranch.city}, #{@a.ranch.state},
        %u
          \&nbsp;#{localize(@order.created_at, :format => ("on %d, %B, %Y"))}&nbsp;
        %br/
        %strong{:style => "font-size:150%; font-weight:normal"}
          Pay to order of
          %u{:style => "font-weight:bold;"}
            \&nbsp;#{@a.ranch.name}&nbsp;,
          c/o MeatUp
        %br/
        #purveyor_of
          Purveyor of
          %br/
          %b High Class Viandes, Game and Forcemeats
