// Header
%tr
  %th{:colspan => "6"}
    = @order.timer_stamp(@timer_params)
    = @order.receipt_stamp
    = render 'pay_to'

// Informational Rows
= @order.header_row('')
= @order.customer_name_row
= @order.animal_name_row
= @order.bill_status_row
= @order.header_row('')

// Table
%tr
  %th.details Cut
  %th.details Notes
  %th.details Discounted
  %th.details{:width => "15%"}= @order.weight_kind
  %th.details{:width => "15%"}= @order.price_note

- @order.lines.each do |l|
  %tr
    %td= l.cut.name
    %td= l.notes
    %td= l.discounted
    %td= l.weight
    %td= l.to_pay

// Total
%tr
  %td
  %td
  %td
  %td
    %strong= present_weight(@order.poundage)
  %td= @order.to_pay