/ Charging the remainder based on what butchers report back
- if @order.status > 1
  %tr
    %td.spacer{:colspan => "4"}
      .receipt_pay
        = form_tag charges_path do
          %script.stripe-button{"data-amount" => (@order.get_difference + 0.2 * @order.total) * 100, "data-description" => "#{@order.animal.name} Final Payment", "data-key" => Rails.configuration.stripe[:publishable_key], :src => "https://button.stripe.com/v1/button.js"}
          = hidden_field_tag(:order_id, @order.id)
  / Charging a "deposit" of 80% of the expected cost
- else
  %tr
    %td.spacer{:colspan => "4"}
      .receipt_pay
        = form_tag charges_path do
          %script.stripe-button{"data-amount" => @order.total * 80, "data-description" => @order.animal.name, "data-key" => Rails.configuration.stripe[:publishable_key], :src => "https://button.stripe.com/v1/button.js"}
          = hidden_field_tag(:order_id, @order.id)
