- provide(:title, 'Order Archive')
%h1 Listing orders
%table
  %tr
    %th Status
    %th User
    %th Animal
    %th
    %th
    %th
  - @orders.each do |order|
    %tr
      %td= order.status
      %td= order.user.name
      %td= order.animal.name
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
