<h2>Open <%=@animal_type%>s in Your Area</h2>
<% unless @animals.empty? %>
	<table class="table normal_links">
		<thead>
			<tr>
				<th>Name</th>
				<th>Ranch</th>
				<th>Avg Cost/LB</th>
				<th>Lbs Left</th>
				<th>Harvest Date</th>
				<th>Pickup Date</th>
				<th>Host</th>
			</tr>
		</thead>
		<tbody>
		<% @animals.each do |a| %>
			<tr>
				<td><%= link_to a.name, "/orders/new/#{a.id}" %></td>
				<td><%= a.ranch.name%></td>
				<td><%= number_to_currency(a.avg_price) %></td>
				<td><%= a.pounds_left.round(2) %></td>
				<td><%= a.harvest_date %></td>
				<td><%= a.pickup_date %></td>
				<td><%= link_to a.host.name, a.host %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>