<% provide(:title, 'Your Order') %>

<% if @order.user.apology %>
	<% @order.apology_discount %>
<% end %>

<table class="receipt_display">
	<%= render partial: "receipt_header", object: @order %>
	<tbody>
		<%= render partial: "receipt_basic_info", object: @order %>
		<%= render partial: "receipt", object: @order %>
		<% if @order.status == 0 %>
			<%= render partial: 'stripe', object: @order %>
		<% end %>
	</tbody>
</table>

<% @a = @order.animal %>

<%= render partial: 'receipt_notes', object: @a %>