<p id="notice"><%= notice %></p>

<%= @order.status %>
Lines:
<br>
<% @order.lines.each do |item| %>
<%= item.notes %>, <%= item.units %>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
