<% provide(:title, 'Your Order') %>
<p id="notice"><%= notice %></p>

<% @a = @order.animalfind %>
<% status_array = ["Incomplete", "Complete", "Deposited", "Other"] %>
<% @total = 0 %>

<h1><%= "Order \##{@order.id}"%></h1> 

<h2><span style="font-size:80%"> Animal Name: </span><%= @a.name %></h2>
<h2><span style="font-size:80%">Order Status: </span><%= status_array[@order.status] %></h2>

<br>

<table class="table">
	<tr>
		<th>Cut</th>
		<th>Units</th>
		<th>Notes</th>
		<th>Package Weight</th>
		<th>Price</th>
		<th>Total</th>
	</tr>

	<% @order.lines.each do |l| %>
		<% if l.units != 0 %>
			<% @c = l.cut %>
			<% show_helper %>
			<tr>	
			    	<td><%= @c.name %></td>
			    	<td><%= l.units %></td>
			    	<td><%= l.notes %></td>
			    	<td><%= @c.package_weight %> lb</td>
			    	<td><%= number_to_currency(@example.price) %></td>
			    		<% @line_total = @example.price * @c.package_weight * l.units %>
			    	<td><%= number_to_currency(@line_total) %></td>
		    </tr>
		    <% @total += @line_total %>
		<% end %>
	<%end%>
	<% @order.total = @total %>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><%= number_to_currency(@total) %></td>
	</tr>
</table>

<%= form_tag charges_path do %>
  <script src="https://button.stripe.com/v1/button.js" 
  		class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="<%= @order.animal.name %>"
        data-amount="<%= @order.total * 100 %>"></script>
<% end %>