%table.animal_table
  %thead
    %tr.animal_table_header
      %th Type
      %th ID
      %th Name of Animal
      %th Breed
      %th Live Weight
      %th Farm / Ranch
      %th Host
      %th{:colspan => "3"} Admin Controls
  %tbody
  - AnimalType.new.active_list.map(&:capitalize).each do |type|
    %tr.animal_table_header2
      %th.animal_table_header2= type
      %th.animal_table_header2{:colspan => "9"}
    - AnimalType.new(type).real_animals.each do |animal|
      %tr.normal_links
        %td{:style => "color:#ddd;"}= type
        %td= animal.id
        %td= link_to animal.name, animal
        %td= animal.breed
        %td= animal.weight
        %td= link_to animal.ranch.name, ranch_path(animal.ranch)
        %td= link_to animal.host.name, host_path(animal.host)
        %td= link_to 'Edit', edit_animal_path(animal)
        %td= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }
