<table class="table">
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Live Weight</th>
    <th>Farm</th>
    <th>Host</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @given_type = Animal.where(:animal_type => @type) %>
<% @given_type.each do |animal| %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.breed %></td>
    <td><%= animal.weight %></td>
    <td><%= animal.ranch.name %></td>
    <td><%= animal.host %></td>
    <td><%= animal.photo %></td>
    <td><%= link_to 'Show', animal %></td>
    <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>