<% @animal_array.each do |type| %>
  <% if Animal.where(:animal_type => type).length > 0 %>
        <tr class="animal_table_header2">
          <th class="animal_table_header2">
            <%= type %>
          </th>
          <th colspan=9 class="animal_table_header2">
          </th>
        </tr>
        <% Animal.where(:animal_type => type).each do |animal| %>
          <tr class="normal_links">
            <td style="color:#ddd;"><%= animal.animal_type %></td>
            <td><%= animal.id %></td>
            <td><%= animal.name %></td>
            <td><%= animal.breed %></td>
            <td><%= animal.weight %></td>
            <td><%= link_to animal.ranch.name, ranch_path(animal.ranch) %></td>
            <td><%= link_to animal.host.name, host_path(animal.host) %></td>
            <td><%= link_to 'Show', animal %></td>
            <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
            <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
  <% end %>
<% end %>
