.row{:style => "text-align:center"}
  %h2 Associated Cuts
  %h4.normal_links
    %a.collapse_trigger{href: "#", data: {target: "associated_cuts"} } (expand)
  .normal_links.collapse#associated_cuts
    %table.table
      %tr
        %th Cut Name
        %th Price / lb
        %th Orig #
        %th # Left
        %th # Sold
        %th Lbs/Package
        %th Pounds Sold
      - @real_cuts.each do |rc|
        %tr
          %td= link_to(rc.name, rc.cut)
          %td= rc.flat_dollars
          %td= rc.units_total
          %td= rc.units_left
          %td= rc.units_sold
          %td= rc.display_weight
          %td= rc.display_lbs_sold
