<% @animal.cutfind.each do |cut| %>
  <tr>
  	<td><%= cut.name %></td>
  	<td><%= number_to_currency(cut.price) %></td>
  	<td><%= cut.package_weight %> lb</td>
  	<% @pset = Package.find_all_by_cut_id_and_animal_id(cut.id, @animal.id) %>
  	<% @p = @pset[0] %>
	  	<td><%= @p.original %></td>
	  	<td><%= @p.left %></td>
  </tr>
<%end%>