<% @animal.cut_find.each do |cut| %>
  <tr>
  <% @p = Package.find_by_cut_id_and_animal_id(cut.id, @animal.id) %>
  	<td><%= cut.name %></td>
  	<td><%= number_to_currency(@p.price) %></td>
  	<td><%= cut.package_weight %> lb</td>
	  	<td><%= @p.original %></td>
	  	<td><%= ((@p.original - @p.left) * @p.cut.package_weight).to_i %></td>
	  	<td><%= @p.left %></td>
  </tr>
<%end%>