<div class="row" style="text-align:center">
<div class="collapse-group">
	<h4 class="normal_links">
		<a class="bundle" href='#'>(Downpaid)</a>
	</h4><br>
<div class="collapse normal_links" %>
	<table class="table">
	  <tr>
	    <th>User</th>
	    <th>Date</th>
	    <th>Line Item</th>
	    <th># Packages</th>
	    <th>Cut Notes</th>
	    <th>Package Weight</th>
	    <th>Price</th>
	    <th>Line Total</th>
	  <tr>

		<% @animal.downpaid_orders.each do |o| %>
			<tr class="info">
				<td><%= link_to o.user.name, user_path(o.user.id) %></td>
				<td><%= link_to localize(o.created_at, :format => ("%d, %B, %Y")), o %></td>
				<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
			</tr>
			<% o.lines.each do |l| %>
				<% if l.units != 0 %>
					<tr>
						<td></td>
						<td></td>
					    	<td><%= l.cut.name %></td>
					    	<td><%= l.units %></td>
					    	<td><%= l.notes %></td>
					    	<td><%= l.expected_weight %> lb</td>
					    	<td><%= number_to_currency(l.price) %></td>
					    	<td><%= number_to_currency(l.total) %></td>
				    </tr>
				<% end %>
			<% end %>

			<tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<th>Order Total:</th>
		    	<th><%= "#{o.poundage.round(2)}lbs" %></th>
		    	<th></th>
		    	<th><%= number_to_currency(o.total) %></th>
		    </tr>
		<% end %>

		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="font-size:130%; font-weight:bold">Total Deposited:</td>
			<td style="font-size:130%; font-weight:bold"><%="#{@animal.downpaid_pounds.round(2)}lbs"%></td>
			<td style="font-size:130%; font-weight:bold"><%= number_to_currency(@animal.downpaid_total) %></th>
		</tr>
	</table>
</div>
</div>
</div>

<div class="row" style="text-align:center">
<div class="collapse-group">
	<h4 class="normal_links"> 
		<a class="bundle" href='#'>(Finalized)</a>
	</h4><br>
<div class="collapse normal_links" %>
	<table class="table">
		<tr>
		    <th>User</th>
		    <th>Date</th>
		    <th>Line Item</th>
		    <th># Packages</th>
		    <th>Cut Notes</th>
		    <th>Package Weight</th>
		    <th>Price</th>
		    <th>Line Total</th>
		<tr>

		<% @animal.paid_orders.each do |o| %>
			<tr class="info">
				<td><%= link_to o.user.name, user_path(o.user.id) %></td>
				<td><%= link_to localize(o.created_at, :format => ("%d, %B, %Y")), o %></td>
				<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
			</tr>
			<% o.lines.each do |l| %>
				<% if l.units != 0 %>
					<tr>
						<td></td>
						<td></td>
					    	<td><%= l.cut.name %></td>
					    	<td><%= l.units %></td>
					    	<td><%= l.notes %></td>
					    	<td><%= l.expected_weight %> lb</td>
					    	<td><%= number_to_currency(l.price) %></td>
					    	<td><%= number_to_currency(l.total) %></td>
				    </tr>
				<% end %>
			<% end %>

			<tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<th>Order Total:</th>
		    	<th><%= "#{o.poundage.round(2)}lbs" %></th>
		    	<th></th>
		    	<th><%= number_to_currency(o.total) %></th>
		    </tr>

		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="font-size:130%; font-weight:bold">Total Finalized:</td>
			<td style="font-size:130%; font-weight:bold"><%="#{@animal.paid_pounds.round(2)}lbs"%></td>
			<td style="font-size:130%; font-weight:bold"><%= number_to_currency(@animal.paid_total) %></th>
		</tr>
	</table>
</div>
</div>
</div>

