<% @animal.orders.each do |o| %>
	<tr class="info">
		<td><%= o.id %></td>
			<% status_array = ["Incomplete", "Complete", "Deposited", "Other"] %>
		<td><%= status_array[o.status] %></td>
		<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
	</tr>
	<% @total = 0 %>
	<% @lb_total = 0 %>
	<% o.lines.each do |l| %>
		<% if l.units != 0 %>
			<tr>
				<td></td>
				<td></td>
				<% @c = l.cut %>
				<% p_directory = Packages.find_by_cut_id_and_animal_id(@c.id, o.animal_id) %>
				<% sold = p_directory.where(:sold == true).length %>
				<% unsold = p_directory.where(:sold == false).length %>
			    <% example = p_directory.first %>
			    	<td><%= @c.name %></td>
			    	<td><%= l.units %></td>
			    	<td><%= l.notes %></td>
			    	<td><%= @c.package_weight %> lb</td>
			    	<td><%= number_to_currency(example.price) %></td>
			    		<% @lbs = l.units * @c.package_weight %>
			    		<% @line_total = example.price * @lbs %>
			    	<td><%= number_to_currency(@line_total) %></td>
		    </tr>
		    <% @total += @line_total %>
		    <% @lb_total += @lbs %>
		<% end %>
	<% end %>

	<tr>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<th>Order Total:</th>
    	<th><%= "#{@lb_total.to_i}lbs" %></th>
    	<th><%= number_to_currency(@total) %></th>
    </tr>

<% end %>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td style="font-size:130%; font-weight:bold">Total Sales:</td>
	<td style="font-size:130%; font-weight:bold"><%="#{@lbs_sold.to_i}lbs"%></td>
	<td style="font-size:130%; font-weight:bold"><%= number_to_currency(@revenue) %></th>
</tr>
