<% @animal.orders.each do |o| %>
	<tr class="info">
		<td><%= o.id %></td>
			<% status_array = ["Incomplete", "Complete", "Deposited", "Unpaid"] %>
		<td><%= status_array[o.status] %></td>
		<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
	</tr>
	<% @total = 0 %>
	<% o.lines.each do |l| %>
	<tr>
		<td></td>
		<td></td>
		<% @c = l.cut %>
	    	<td><%= @c.name %></td>
	    	<td><%= l.units %></td>
	    	<td><%= l.notes %></td>
	    	<td><%= @c.package_weight %> lb</td>
	    	<td><%= @c.price %></td>
	    		<% @line_total = @c.price * @c.package_weight * l.units %>
	    	<td><%= number_to_currency(@line_total) %></td>
    </tr>
    <% @total += @line_total %>
	<%end%>

	<tr>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td>Order Total:</td>
    	<th><%= number_to_currency(@total) %></th>
    </tr>

<%end%>