<div class="row">
	<div class="collapse-group">
		<h4 class="normal_links"> 
			<%= "#{bundle.first.cut.name} -- #{bundle.first.line.notes} (#{bundle.size} packages) " %>
			<a class="bundle" style="font-size:70%" href='#'>(expand)</a>
		</h4>	
		<div class="collapse normal_links" %>
			<table class="table">
				<thead>
					<tr>
						<th>Cut Name</th>
						<th>Prep Notes</th>
						<th>Label</th>				
						<th>Actual Lbs</th>
						<th>Actual Oz</th>
					</tr>
				</thead>
				<tbody>
					<!-- list of identical packages -->
						<%= f.fields_for :packages, bundle do |p| %>
							<% if p.object.order.user %>
								<tr>
									<td><%= p.object.cut.name %></td>
									<td><%= p.object.line.processed_notes %></td>
									<td><%= "#{p.object.order.user.name.first(3).upcase}-#{p.object.id}" %></td>
									<% if p.object.true_weight == nil %>
										<td colspan=1><%= p.text_field :actual_lbs %></td>
										<td colspan=1><%= p.text_field :actual_oz %></td>
									<% else %>
										<td><%= p.object.true_weight.round(0) %> lb</td>
										<td><%= ((p.object.true_weight % 1) * 16).round(2)%> oz </td>
									<% end %>  
								</tr>
							<% else %>
								<tr>
									<td><%= p.object.cut.name %></td>
									<td>Unsold</td>
									<td>Unsold</td>
									<% if p.object.true_weight == nil %>
										<td colspan=1><%= p.text_field :actual_lbs %></td>
										<td colspan=1><%= p.text_field :actual_oz %></td>
									<% else %>
										<td><%= p.object.true_weight.round(0) %> lb</td>
										<td><%= ((p.object.true_weight % 1) * 16).round(2)%> oz </td>
									<% end %>  
								</tr>
							<% end %>
						<% end %>	
					
				</tbody>
			</table>
		</div>
	</div>
</div>