<div class="row">
<div class="collapse-group">
	<h4 class="normal_links"> 
		<%= "#{bundle.first.user.name}" %>
		<a class="bundle" style="font-size:70%" href='#'>(expand)</a>
	</h4>	
<div class="collapse normal_links" %>

	<table class="table" %>
		<thead>
			<tr>
				<th>Cut</th>
				<th>Prep Notes</th>
				<th>Package #</th>
				<% if @animal.finalized %>
					<th>Final Weight (Lbs)<th>
				<% else %>
					<th>Expected Weight (Lbs)</th>
				<% end %>
				<th>Label<th>
			</tr>
		</thead>
		<tbody>
			<% bundle.each do |p| %>
				<tr>
					<td><%= p.cut.name %></td>
					<td><%= p.line.notes %></td>
					<td><%= p.expected_packages.length %></td>
					<% if p.true_weight %>
						<td><%= p.true_weight %></td>
					<% else %>
						<td><%= p.expected_weight %></td>
					<% end %>
					<td><%= "#{p.order.user.name.first(3).upcase}-#{p.id}" %></td>
				</tr>
			<% end %>
		</tbody>	
	</table>

</div>
</div>
</div>
<br>