<% provide(:title, 'Animal Dashboard') %>

<div id="page_title_float">Admin Animal Dashboard</div>
<%= link_to 'Add New Animal', new_animal_path, :class => "btn image-button", :style => "float:right;" %><br>

<table class="animal_table">
<thead>
  <tr class="animal_table_header">
    <th>Type</th>
    <th>ID</th>
    <th>Name of Animal</th>
    <th>Breed</th>
    <th>Live Weight</th>
    <th>Farm / Ranch</th>
    <th>Host</th>
    <th colspan=3>Admin Controls</th>
  </tr>
</thead>
<tbody>
	<% @type = "Cow" %>
	<%= render :partial => "animal_list", :object => @type %>
	<% @type = "Pig" %>
	<%= render :partial => "animal_list", :object => @type %>
	<% @type = "Lamb" %>
	<%= render :partial => "animal_list", :object => @type %>
	<% @type = "Goat" %>
	<%= render :partial => "animal_list", :object => @type %>
</tbody>
</table>

<br />


