- provide(:title, 'Butchery Log')
%h2= "#{@animal.name}'s Butchery Log"
.row.inset
  / Macro Weight Formatting
  %h4
    - if !@animal.hanging_weight || !@animal.meat_weight
      %span{:style => "font-size:120%;font-weight:bold"}= "Enter #{@animal.name}'s actual weight:"
    - else
      %span{:style => "font-size:120%;font-weight:bold"}= "#{@animal.name}'s Final Weight:"
    %br/
    %br/
    = form_for(@animal, :url => { :action => "log" }, :method => :put) do |f|
      - if @animal.hanging_weight
        %span.inset{:style => "font-weight:bold"} Hanging Weight:
        = " #{@animal.hanging_weight}lbs"
      - else
        %span.inset
          = f.label "Hanging Weight (in lbs)"
          = f.text_field :hanging_weight
      %br/
      - if @animal.meat_weight
        %span.inset{:style => "font-weight:bold"} Meat Weight:
        = " #{@animal.meat_weight}lbs"
      - else
        %span.inset
          = f.label "Meat Weight (in lbs)"
          = f.text_field :meat_weight
      %br/
      %br/
      %br/
      %span{:style => "font-size:120%;font-weight:bold"}
        Fill in individual package weights below:
/ Create an expandable table for each package type (cut and notes)
- @animal.sold_bundles.each do |bundle|
  = render partial: 'package_bundle',    |
    locals: {:bundle => bundle, :f => f} |
  %br/
%h4 And then you'd allow addition of extra packages here.
= f.submit "Submit Animal Log", :class => "btn image-button right"
