<% provide(:title, @animal.name) %>

<p id="notice"><%= notice %></p>

    <h2 style="text-align:left">
      <span style="font-size:120%; font-weight:none"> <%= @animal.animal_type %> Name: </span>
      <span style="font-size:120%; font-weight:bold"><%= @animal.name %></span>
    </h2>

   <div id="salesforce"></div>

  <div class="line_divider"></div>
      <h2 style="text-align:center">Sales Data</h2>
        <table class="table">
          <tr>
            <th>Meat Weight (Est)</th>
            <th>LBs Sold</th>
            <th>LBs Left</th>
            <th>Revenue Made</th>
            <th>Expected Revenue</th>
            <th>Expected Margins</th>
          </tr>
          <tr>
            <td><%= @animal.pounds_total.round(2) %></td>
            <td><%= @animal.pounds_sold.round(2) %></td>
            <td><%= @animal.pounds_left.round(2) %></td>
            <td><%= number_to_currency(@animal.revenue_made) %></td>
            <td><%= number_to_currency(@animal.revenue_possible) %></td>
            <td><%= number_to_currency(@animal.expected_margins) %></td>
          </tr>
        </table>
        
        <br>

      <h2>Animal Info</h2>
        <table class="table">
          <tr>
            <th>Type of Animal</th>
            <th>Live Weight</th>
            <th>Breed</th>
            <th>Farm</th>
            <th>Host</th>
            <th>Photo</th>
          </tr>
          <tr>
            <td><%= @animal.animal_type %></td>
            <td><%= @animal.weight %></td>
            <td><%= @animal.breed %></td>
            <td><%= @animal.ranch.name %></td>
            <td><%= @animal.host.user.name %></td>
            <td><%= @animal.photo %></td>
          </tr>
        </table>

      <h2>Associated Cuts</h2>
      <div class="row" style="text-align:center">
      <div class="collapse-group">
        <h4 class="normal_links">
          <a class="bundle" href='#'>(expand)</a>
        </h4><br>
      <div class="collapse normal_links" %>
        <table class="table">
          <tr>
            <th>Cut Name</th>
            <th>Price / lb</th>
            <th>Orig #</th>
            <th># Left</th>
            <th># Sold</th>
            <th>Lbs/Package</th>
            <th>Pounds Sold</th>
          </tr>
          <%= render 'cutlist' %>
        </table>
      </div></div></div>

        <br>

      <h2>Associated Orders</h2>
      <%= render 'orderlist' %>

<br>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
