- provide(:title, @animal.name)
%p#notice= notice

%h2{:style => "text-align:left"}
  %span{:style => "font-size:120%; font-weight:none"}
    = @animal.animal_type
    Name:
  %span{:style => "font-size:120%; font-weight:bold"}= @animal.name

= render partial: "charts"

.line_divider
%h2{:style => "text-align:center"} Sales Data
%table.table
  %tr
    %th Meat Weight (Est)
    %th LBs Sold
    %th LBs Left
    %th Revenue Made
    %th Expected Revenue
    %th Expected Margins
    %th Actual Profit
  %tr
    %td= @animal.best_lb_estimate.round(2)
    %td= @animal.pounds_sold.round(2)
    %td= @animal.pounds_left.round(2)
    %td= number_to_currency(@animal.revenue_made)
    %td= number_to_currency(@animal.revenue_possible)
    %td= number_to_currency(@animal.expected_margins)
    %td= number_to_currency(@animal.profit)
%br/

%h2 Animal Info
%table.table
  %tr
    %th Type of Animal
    %th Live Weight
    %th Breed
    %th Farm
    %th Host
    %th Photo
  %tr
    %td= @animal.animal_type
    %td= @animal.weight
    %td= @animal.breed
    %td= @animal.ranch.name
    %td= @animal.host.user.name
    %td= @animal.photo

%h2 Associated Cuts
.row{:style => "text-align:center"}
  = render 'cutlist'
%br/
%h2 Associated Orders
  = render 'orderlist'
%br/
= link_to 'Edit', edit_animal_path(@animal)
|
\#{link_to 'Back', animals_path}
