<%= form_for(@ranch) do |f| %>
  <% if @ranch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ranch.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @ranch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Ranch Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label "State" %><br />
      <%= f.select :state, us_states %>
  </div>  
  <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
  </div>
  <div class="field">
      <%= f.label "Zip Code" %><br />
      <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label "Address" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Phone Number" %><br />
    <%= f.text_field :phone %>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label "Have Cows?" %><br />
    <%= f.check_box :cow %>
  </div>
  <div class="field">
    <%= f.label "Have Pigs?" %><br />
    <%= f.check_box :pig %>
  </div>
  <div class="field">
    <%= f.label "Have Lambs?" %><br />
    <%= f.check_box :lamb %>
  </div>
  <div class="field">
    <%= f.label "Have Goats?" %><br />
    <%= f.check_box :goat %>
  </div>
  <div class="field">
    <%= f.label "Cow Price per Live LB" %><br />
    <%= f.text_field :cow_live %>
  </div>
  <div class="field">
    <%= f.label "Cow Price per Meat LB" %><br />
    <%= f.text_field :cow_meat %>
  </div>
   <div class="field">
    <%= f.label "Cow Price per Hanging LB" %><br />
    <%= f.text_field :cow_hanging %>
  </div>
  <div class="field">
    <%= f.label "Pig Price per Live LB" %><br />
    <%= f.text_field :pig_live %>
  </div>
  <div class="field">
    <%= f.label "Pig Price per Meat LB" %><br />
    <%= f.text_field :pig_meat %>
  </div>
   <div class="field">
    <%= f.label "Pig Price per Hanging LB" %><br />
    <%= f.text_field :pig_hanging %>
  </div>
  <div class="field">
    <%= f.label "Lamb Price per Live LB" %><br />
    <%= f.text_field :lamb_live %>
  </div>
  <div class="field">
    <%= f.label "Lamb Price per Meat LB" %><br />
    <%= f.text_field :lamb_meat %>
  </div>
   <div class="field">
    <%= f.label "Lamb Price per Hanging LB" %><br />
    <%= f.text_field :lamb_hanging %>
  </div>
  <div class="field">
    <%= f.label "Goat Price per Live LB" %><br />
    <%= f.text_field :goat_live %>
  </div>
  <div class="field">
    <%= f.label "Goat Price per Meat LB" %><br />
    <%= f.text_field :goat_meat %>
  </div>
   <div class="field">
    <%= f.label "Goat Price per Hanging LB" %><br />
    <%= f.text_field :goat_hanging %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>		