- provide(:title, 'Ranches')
%h1 Ranch List
%p{:style => "text-align:center"}
  (#{link_to 'Add New', new_ranch_path})
%br/
%h2 Basic Info
%table.table
  %tr
    %th Ranch Name
    %th Phone Number
    %th Address
    %th
    - if current_user.admin?
      %th
      %th
  - @ranches.each do |ranch|
    %tr
      %td= ranch.name
      %td= ranch.phone
      %td= ranch.address
      %td= link_to 'Show', ranch
      - if current_user.admin?
        %td= link_to 'Edit', edit_ranch_path(ranch)
        %td= link_to 'Destroy', ranch, method: :delete, data: { confirm: 'Are you sure?' }

- AnimalType.list.each do |type|
  %h2= "#{type.capitalize} Pricing"
  %table.table
    %tr
      %th Ranch Name
      %th Live $/LB
      %th Hanging $/LB
      %th Meat $/LB
    = render 'pricing', type: type
