<% provide(:title, 'Ranches') %>

<h1>Ranch List</h1>
<p style="text-align:center">(<%= link_to 'Add New', new_ranch_path %>)</p><br>

<h2> Basic Info </h2>
<table class="table">	
	<tr>
		<th>Ranch Name</th>
		<th>Phone Number</th>
		<th>Address</th>
		<th>Has Cows</th>
		<th>Has Pigs</th>
		<th>Has Lambs</th>
		<th>Has Goats</th>
		<th></th>
		<% if current_user.admin? %>	
			<th></th>
			<th></th>
		<% end %>
	</tr>
	<% @ranches.each do |ranch| %>
		<tr>
			<td><%= ranch.name %></td>
			<td><%= ranch.phone %></td>
			<td><%= ranch.address %></td>
			<td><%= nice_bool(ranch.cow) %></td>
			<td><%= nice_bool(ranch.pig) %></td>
			<td><%= nice_bool(ranch.lamb) %></td>
			<td><%= nice_bool(ranch.goat) %></td>
			<td><%= link_to 'Show', ranch %></td>
		    <% if current_user.admin? %>
		    	<td><%= link_to 'Edit', edit_ranch_path(ranch) %></td>
		    	<td><%= link_to 'Destroy', ranch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    <% end %>
		</tr>
	<% end %>

</table>

<% @animal_types.each do |t| %>

	<h2><%= "#{t} Pricing" %></h2>
	<table class="table">
		<tr>
			<th>Ranch Name</th>
			<th>Live $/LB</th>
			<th>Hanging $/LB</th>
			<th>Meat $/LB</th>
		</tr>
		<%= render partial: 'pricing', locals: { t: t } %>
	</table>
<% end %>


<br />


