- provide(:title, @ranch.name)
%p#notice= notice
.pull-left
  %h2
    %span{:style => "font-size:100%; font-weight:bold"} Ranch Name:
    %span{:style => "font-size:120%; font-weight:bold"}= @ranch.name
%br/
%br/
%h2 Basic Info
%table.table
  %tr
    %th Address
    %th Phone Number
    %th Associated User
  %tr
    %td= @ranch.address
    %td= @ranch.phone
    %td= @ranch.user_id
%h2 Pricing
%table.table
  %tr
    %th Animal Type
    %th Live $/LB
    %th Hanging $/LB
    %th Yielded Meat $/LB
  - @ranch.ranch_animals.each do |animal|
    %tr
      %th= animal.animal_type.capitalize
      %td= number_to_currency(animal.live_price)
      %td= number_to_currency(animal.hanging_price)
      %td= number_to_currency(animal.meat_price)
  
= link_to 'Edit', edit_ranch_path(@ranch)
|
= link_to 'Back', ranches_path
