<% provide(:title, @ranch.name) %>

<p id="notice"><%= notice %></p>

  <div class="pull-left">
    <h2><span style="font-size:100%; font-weight:bold"> Ranch Name: </span>
        <span style="font-size:120%; font-weight:bold"><%= @ranch.name %></span></h2>
  </div>

  <br>
  <br>
<h2> Basic Info </h2>
<table class="table"> 
  <tr>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Has Cows</th>
    <th>Has Pigs</th>
    <th>Has Lambs</th>
    <th>Has Goats</th>
    <th>Associated User </th>
  </tr>
  <tr>
    <td><%= @ranch.address %></td>
    <td><%= @ranch.phone %></td>
    <td><%= nice_bool(@ranch.cow) %></td>
    <td><%= nice_bool(@ranch.pig) %></td>
    <td><%= nice_bool(@ranch.lamb) %></td>
    <td><%= nice_bool(@ranch.goat) %></td>
    <td><%= @ranch.user_id %></td>
  </tr>
</table>  

<h2>Pricing</h2>
<table class="table">
  <tr>
    <th>Animal Type</th>
    <th>Live $/LB</th>
    <th>Hanging $/LB</th>
    <th>Yielded Meat $/LB</th>
  </tr>
  <tr>
    <th>Cow</th>
    <td><%= @ranch.cow_live %></td>
    <td><%= @ranch.cow_hanging %></td>
    <td><%= @ranch.cow_meat %></td>
  </tr>
  <tr>
    <th>Pig</th>
    <td><%= @ranch.pig_live %></td>
    <td><%= @ranch.pig_hanging %></td> 
    <td><%= @ranch.pig_meat %></td>
  </tr>
  <tr>
    <th>Lamb</th>
    <td><%= @ranch.lamb_live %></td>
    <td><%= @ranch.lamb_hanging %></td>
    <td><%= @ranch.lamb_meat %></td>
  </tr>
  <tr>
    <th>Goat</th>
    <td><%= @ranch.goat_live %></td>
    <td><%= @ranch.goat_hanging %></td>
    <td><%= @ranch.goat_meat %></td>
  </tr>
</table>    

<%= link_to 'Edit', edit_ranch_path(@ranch) %> |
<%= link_to 'Back', ranches_path %>
