
<table class="table">
	<thead>
		<tr>
			<th>Cut Name</th>
			<th>Prep Notes</th>
			<th>Label</th>
			<th>Actual Lbs</th>
			<th>Actual Oz</th>
		</tr>
	</thead>
	<tbody>
		<% form_for(@animal) do |a| %>
			<% @packages.each do |p| %>
				<%= a.fields_for p do |i| %>
					<tr>
						<td><%= p.cut.name %></td>
						<td><%= p.line.processed_notes %></td>
						<% if p.order.user %>
							<td><%= "#{p.order.user.name.first(3).upcase}-#{p.id}" %></td>
						<% else %>
							<td><%= p.order.id %></td>
						<% end %>
						<td>
							<%= i.text_field :actual_lbs %>
						</td>
						<td>
							<%= i.text_field :actual_oz %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

