<%= form_for(@cow) do |f| %>
  <% if @cow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cow.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @cow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Cow Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Live Weight" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label "Breed" %><br />
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label "Photo" %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label "Farm" %><br />
    <%= f.text_field :farm %>
  </div>
  <div class="field">
    <%= f.label "Host Info" %><br />
    <%= f.text_field :host %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>		