<header class="topbar navbar-fixed-top">
</header>
  <div class="topnav">
      <nav>
        <ul class="nav pull-left" style="margin:0px;">
           <%= link_to " ", root_path, :id => "header_logo" %>
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>

              <% if current_user.admin? %>

                <li class="spaced">&nbsp;</li>
                <li class="top_spaced"><%= link_to "My Dashboard", animals_path %></li>
                <li class="dropdown">
                      <a href="#" class="btn image-button" data-toggle="dropdown"style="margin-right:4px;">
                        <%= image_tag('icon-login.png') %> <%= current_user.name %> &nbsp; <b class="caret"></b>
                      </a>
                      
                      <ul class="dropdown-menu">
                        <li class="dr"><%= link_to "Animals Overview", animals_path %></li>
                        <li class="dr"><%= link_to "Cuts Overview", cuts_path %></li>
                        <li class="dr"><%= link_to "Users Overview", users_path %></li>
                        <li class="dr"><%= link_to "Ranches Overview", ranches_path %></li>
                        <li class="dr"><%= link_to "Butchers Overview", butchers_path %></li>
                        <li class="line_divider" style="margin-top:4px;margin-bottom:4px;"></li>
                        <li class="dr"><%= link_to "My Profile & History", current_user %></li>
                        <li class="line_divider" style="margin-top:4px;margin-bottom:4px;"></li>
                        <li class="dr"><%= link_to "Sign out", signout_path, method: "delete" %></li>
                      </ul>

                </li>

              <% else %>

               <li class="spaced">&nbsp;</li>
               <li class="top_spaced"><%= link_to "What's Cooking?", "https://blog.meatup.in" %></li>
               <li class="dropdown">
                      <a href="#" class="btn image-button" data-toggle="dropdown">
                        <%= image_tag('icon-login.png') %> <%= current_user.name %> &nbsp; <b class="caret"></b>
                      </a>

                      <ul class="dropdown-menu">
                        <!-- <li class="dr"><%= link_to "My Community", orders_purchase_path %></li> -->
                        <li class="dr"><%= link_to "Browse Ranches", ranches_path %></li>
                        <li class="dr" style="font-weight:bold;"><%= link_to "Open Auctions", orders_purchase_path %></li>
                        <li class="line_divider" style="margin-top:4px;margin-bottom:4px;"></li>
                        <li class="dr"><%= link_to "View Profile & History", current_user %></li>
                        <li class="line_divider" style="margin-top:4px;margin-bottom:4px;"></li>
                        <li class="dr"><%= link_to "Sign out", signout_path, method: "delete" %></li>
                      </ul>

                </li>

              <% end %>

          <% else %>

            <li class="spaced">&nbsp;</li>
            <li class="top_spaced"><%= link_to "What's Cooking?", "https://blog.meatup.in" %></li>
            <li class="dropdown">
              <a href="<%= signin_path %>" class="btn image-button" data-toggle="dropdown">
                <%= image_tag('icon-login.png') %> Sign In</b>
              </a>
            </li>

          <% end %>

        </ul>
      </nav>
  </div>
